extends partial/layout

block body
  .row.article-wrap
    .col-md-10.mx-auto.article-panel
      h1.title-string=page.title
      p.date-string= date(page.date, 'YYYY MMM DD') + ' NekoApocalypse'
      .article-content!=page.content
      p#post-url.nodisplay='https://danbooru-labs.moe'+url_for(page.path)
      p#post-identifier.nodisplay=page.path
  script(src='/js/include-disqus.js')
  noscript Please enable JavaScript to view the 
    a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.

