.container-fluid
  header.header
    .row.title
      .title-box.text-center.col-md-12.main-title
        h1.font-title 
          a(href=config.root).link-clear Danbooru Labs
          span.beta beta
      .title-box.text-center.col-md-12.sub-title
        p.font-title-cn 喵星人的纸箱实验室
      .logo-box.col-md-12
        img(src='/images/da-cat.png'  , alt='The Cat').img-responsive.logo
      .burger-icon
        img(src='/images/menu.svg')
    ul.float-menu
      li.nav-item
        a(href=config.root).nav-link 博客
      li.nav-item 
        a(href=config.placeholder).nav-link 画册
      li.nav-item 
        a(href=config.placeholder).nav-link 关于
        
  ul.nav.justify-content-center
    li.nav-item
      a(href=config.root).nav-link 博客
    li.nav-item 
      a(href=config.placeholder).nav-link 画册
    li.nav-item 
      a(href=config.placeholder).nav-link 关于
